[submodule "CSharp.Saude.FitbitTask"]
	path = CSharp.Saude.FitbitTask
	url = https://github.com/vinils/CSharp.Saude.FitbitTask.git
[submodule "js-saude-app"]
	path = js-saude-app
	url = https://github.com/vinils/js-saude-app.git
